body{
    height:100hv;
    background-color: lime;
}
header{
    width:100%;
    height: 20vh;
    background-color: rgb(87, 89, 89);
}
nav{
    width:30%;
    height: 50px;
    background-color:rebeccapurple;
    margin:0 auto;
}
div{
    width:100%;
    height:60vh;
    background-color:aqua;
}
aside{
    width:30%;
    height:60vh;
    background-color:#b825ac;
    float:right;   
}